
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadExcel</title>
</head>
<body>
    <div> 
        <h1>ReadExcel</h1>
        <h4>@ViewBag.DataSets</h4>
    </div>
</body>
</html>
